@model Authentication.Models.UserAccount


@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-4">
        <h3>Manage Account</h3>
        
           
        
        <div class="container">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Create Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wallet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Details">Account Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Edit">Update Info</a>
                </li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>Need a ride? Request one below!</h5>
            <br>
            <iframe width="275" height="70" sandbox="allow-scripts allow-forms allow-top-navigation-by-user-activation"
                    src="https://cdn.lyft.com/static/widgets/embed.html?location_street_address=5708%20n%2078th%20street&location_city=Milwaukee&location_postal_code=53222&theme=&button_size=&referrer=https%3A%2F%2Flocalhost%3A44356&text_color="
                    frameborder=0></iframe>
        </div>


</div>
    <div class="col-md-8">
        <h4></h4>
        


    </div>
   
</div>