@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-12">About Us</h1>
    <p>Founded in March of 2020, Group-eR was created to answer the age old question amongst a 
    group of friends " What should we do Today?" </p>
    <br />
    <h3>How did we do it?</h3>
    <p> We asked ourselves "What is always an issue regardless of the activity you are trying to organize?  
    and the organization kept coming up every single time. At that point we knew we had to figure out how to structure our application 
    to be used accross all activities, keeping in mind everyones needs.</p>
    
</div>
