
<div id="after_submit"></div>
<br>
<br>
<br>
<br>
<center>
    <form id="contact_form" action="#" method="POST" enctype="multipart/form-data">
        <br><br>
        <div class="row">
            <label class="required" for="name">Your name:</label><br />
            <input id="name" class="input" name="name" type="text" value="" size="30" /><br>
            <span id="name_validation" class="error_message"></span>
        </div>
        <br><br>
        <div class="row">
            <label class="required" for="email">Your email:</label><br />
            <input id="email" class="input" name="email" type="text" value="" size="30" /><br>
            <span id="email_validation" class="error_message"></span>
        </div>
        <br><br>

        <div class="row">
            <label class="required" for="message">Your message:</label><br>
            <textarea id="message" class="input" name="message" rows="7" cols="30"></textarea><br />
            <span id="message_validation" class="error_message"></span>
        </div>


        <input id="submit_button" type="submit" value="Send email" />

    </form>
</center>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/5e67c207eec7650c331f4a8f/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--End of Tawk.to Script-->
