@{
    ViewData["Title"] = "Home Page";
}
    <center>
        <div>
            <div class="text-center">
                <h1 class="display-4">Welcome to Group-eR</h1>

            </div>

            <div>
                <img src="~/img/1.jpg" alt="First Image" width="900" height="500">
            </div>

            <div>
                <img src="~/img/2.jpg" alt="Second Image" width="900" height="500">
            </div>

            <div>
                <img src="~/img/3.jpg" alt="Third Image" width="900" height="500">
            </div>

            <div>
                <img src="~/img/4.jpg" alt="Fourth Image" width="900" height="500">
            </div>
        </div>
        <div class="container">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Maps</a>
                </li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h5>Need a Lyft?</h5>
            <br>
            <iframe width="275" height="70" sandbox="allow-scripts allow-forms allow-top-navigation-by-user-activation"
                    src="https://cdn.lyft.com/static/widgets/embed.html?location_street_address=5708%20n%2078th%20street&location_city=Milwaukee&location_postal_code=53222&theme=&button_size=&referrer=https%3A%2F%2Flocalhost%3A44356&text_color="
                    frameborder=0></iframe>
        </div>
    </center>








