@{
    ViewData["Title"] = "Home Page";
}
<center>
    <div>
        <div class="text-center">
            <h1 class="display-4">Welcome to Group-eR</h1>

        </div>

        <div>
            <img src="~/img/1.jpg" alt="First Image" width="900" height="500">
        </div>

        <div>
            <img src="~/img/2.jpg" alt="Second Image" width="900" height="500">
        </div>

        <div>
            <img src="~/img/3.jpg" alt="Third Image" width="900" height="500">
        </div>

        <div>
            <img src="~/img/4.jpg" alt="Fourth Image" width="900" height="500">
        </div>
    </div>
</center>








